* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;

  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  text-align: center;
  color: #000000;
  background: #fff;
}

header {
  background: #fff;
}

/* <headerbar> */
.headerbar {
  background: #434343;
  display: grid;
  grid-template-columns: 0.2fr 2fr 3fr 0.2fr;
  grid-template-rows: 1fr;
  height: 4em;
}

.menu-logo,
.logo {
  font-weight: 800;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.headerbar-logo {
  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  justify-content: start;
  align-items: center;
}

.headerbar-menu {
  grid-column: 3/4;
  grid-row: 1/2;

  display: flex;
  justify-content: end;
  align-items: center;

  font-size: 1rem;
  text-align: start;
}

.menu {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgb(147, 116, 138, 0.6);
  color: white;
  backdrop-filter: blur(5px);

  z-index: 4;
}

.open-btn,
.close-btn {
  cursor: pointer;
  font-size: 2rem;
  color: white;
}
.close-btn {
  margin: 0.5em;
  font-size: 2.5rem;
}

.open-btn:hover,
.close-btn:hover {
  color: #ffbfcc;
}

.menu-ul {
  margin: 1em;
  font-size: 1.4rem;
}

.menu-ul li {
  margin: 2em;
}
.menu-a {
  text-decoration: none;
  color: white;
}

.menu-a:hover {
  color: #fddee3;
}

.menu-click {
  text-decoration: none;
  color: #fddee3;
}

.move {
  transform: translateX(20%);
  transition: 250ms ease;
}

/* <article-profile> */
.title-profile {
  color: #000000;
  font-weight: 650;
  font-size: 2.5rem;
  display: inline-block;
  margin: 1.5em 0;

  position: relative;
  z-index: 1;
}

.title-profile::after {
  content: "";
  position: absolute;
  top: 45%;
  left: -5%;
  width: 10rem;
  height: 0.8em;
  background: #fddee3;
  z-index: -1;
}

/* <article-profile-img> */
#profile-img {
  margin-bottom: 2em;
}

#profile-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #434343;
  box-shadow: 0 0 10px rgba(150, 57, 86, 0.5);

  margin-bottom: 2em;
}

/* <article-profile-text> */

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 5em;
}

.profile-text h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.profile-text p {
  font-size: 1rem;
  color: black;
  line-height: 1.5;
}

/* <article-profile-information> */
.line {
  display: block;
  margin: 1em auto;

  width: 6em;
  border-top: 2px solid gray;
}

.mini-title {
  color: #963956;
  font-size: 1.2rem;
  font-weight: 700;
}

#profile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  margin-bottom: 3em;
  text-align: start;
}

#profile-information-content {
  list-style: none;
  margin-top: 1.2em;
}

#profile-information-content li {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.mini-information {
  color: gray;
  font-size: 0.9rem;
}

/* <article-profile-education> */
#profile-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  margin-bottom: 3em;
  text-align: start;
}

#profile-education-content {
  list-style: none;
  margin-top: 1.2em;
}

#profile-education-content li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.year-info {
  margin-left: 2rem;
}

/* <article-profile-certificate> */
#profile-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  margin-bottom: 3em;
  text-align: start;
}

#profile-certificate-content {
  list-style: none;
  margin-top: 1.2em;
}

#profile-certificate-content li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* <article-profile-experience> */
#profile-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  margin-bottom: 3em;
  text-align: start;
}

#profile-experience-content {
  list-style: none;
  margin-top: 1.2em;
}

#profile-experience-content li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.work-logo {
  color: gray;
  font-size: 0.7rem;
  padding-top: 0.45em;
}
.experience-info {
  font-weight: 400;
}

/* <article-profile-award> */
#profile-award {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  margin-bottom: 3em;
  text-align: start;
}

#profile-award-content {
  list-style: none;
  margin-top: 1.2em;
}

#profile-award-content li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* <article-profile-skills> */
#profile-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  margin-bottom: 3em;
}

/* <footer> */

footer {
  width: 100%;
  height: 300px;
  background: #434343;
  color: white;
  padding: 2em 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-menu {
  margin-top: 1em;
  margin-bottom: 4em;
}

.footer-menu-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-menu-a {
  text-decoration: none;
  color: white;
  margin: 0 1em;
}

.footer-menu-a:hover {
  color: #963956;
  text-decoration: underline;
  text-decoration-color: #963956;
  text-underline-offset: 0.2em;
}

.footer-infor-one {
  margin: 1em;
}

@media (min-width: 1300px) {
  /* <headerbar> */
  .open-btn,
  .close-btn {
    display: none;
  }

  .headerbar-menu {
    display: flex;
    z-index: 2;
  }
  .menu {
    position: initial;
    transform: translateX(0);
    background: #434343;
    height: 4em;
  }
  .headerbar-menu,
  .menu {
    display: flex;
    justify-content: end;
    flex-direction: row;
  }
  .menu-ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
  }
  .menu-a {
    color: rgb(255, 255, 255);
    display: flex;
  }
  #menubar-button:link,
  #menubar-button:visited {
    display: block;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 0.3em 0.625em;
    border: none;
    border-radius: 0.25em;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  #menubar-button:active {
    color: black;
  }

  #menubar-button:hover,
  #menubar-button:active {
    color: #fff;
    background: #ffbfcc;
  }

  /* <profile-container> */
  .line {
    display: none;
  }

  #profile-content {
    display: grid;
    grid-template-columns: 0.3fr 1.4fr 2fr 0.3fr;
    grid-template-rows: auto;
  }

  #profile-content-one {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #profile-content-two {
    grid-column: 3/4;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    align-items: start;
  }

  #profile-information,
  #profile-education,
  #profile-certificate,
  #profile-experience,
  #profile-award,
  #profile-skills {
    align-items: start;
    text-align: start;
  }
}
