* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;

  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  text-align: center;
  color: #000000;
  background: #fff;
}

/* <header> */
header {
  background: #fff;
}

/* <headerbar> */
.headerbar {
  background: #434343;
  display: grid;
  grid-template-columns: 0.2fr 2fr 3fr 0.2fr;
  grid-template-rows: 1fr;
  height: 4em;
}

.logo {
  font-weight: 800;
  font-size: 1.31rem;
  color: white;
}

.headerbar-logo {
  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  justify-content: start;
  align-items: center;
}

.headerbar-menu {
  grid-column: 3/4;
  grid-row: 1/2;

  display: flex;
  justify-content: end;
  align-items: center;

  font-size: 1rem;
  text-align: start;
}

.menu {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgb(147, 116, 138, 0.6);
  color: white;
  backdrop-filter: blur(5px);

  z-index: 4;
}

.open-btn,
.close-btn {
  cursor: pointer;
  font-size: 2rem;
  color: white;
}
.close-btn {
  margin: 0.5em;
  font-size: 2.5rem;
}

.menu-ul {
  margin: 1em;
  font-size: 1.4rem;
}

.menu-ul li {
  margin: 2em;
}
.menu-a {
  text-decoration: none;
  color: white;
}

.move {
  transform: translateX(20%);
  transition: 250ms ease;
}

/* <header-main> */

.header-slider {
  position: relative;
  width: 100%;
  height: 40em;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 0;
  overflow: hidden;
}

.slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

#slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  box-shadow: none;
  display: block;
  margin: 0;
  transition: opacity 0.5s;
  opacity: 1;
}

#slider-image.fade-out {
  opacity: 0;
}

#slider-image.fade-in {
  opacity: 1;
}

/* <article-main-profile> */
article {
  margin: 0 auto;
  padding: 2em;
}

#main-profile {
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.5fr 2fr 1.5fr;
  margin: 2em auto;
}

#main-profile h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
}

.menu-link {
  text-decoration: none;
  color: black;
}
.menu-link:hover {
  color: #963956;
  text-decoration: underline;
  text-decoration-color: #963956;
  text-underline-offset: 0.2em;
}

#profile-img {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 augo;
}

#profile-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #434343;
  box-shadow: 0 0 10px rgba(150, 57, 86, 0.5);
}
.profile-text {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-text h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin: 0.5em 0;
}
.profile-text p {
  font-size: 1rem;
  color: black;
  margin: 0.5em 0;
  line-height: 1.5;
}

/* <article-marketing plan> */

#main-marketing {
  display: grid;
  grid-template-columns: 0.2fr 300px 2fr 0.2fr;
  grid-template-rows: 0.5fr 2fr;
  margin: 2em auto;
}

#main-marketing h2 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
  margin-bottom: 1em;

  grid-column: 2/3;
  grid-row: 1/2;
}

.marketing-slider {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  width: 100%;
  z-index: 3;
}

.marketing-slider-inner {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;
}

.marketing-slider-inner::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}
.marketing-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 542px;
  margin-right: 2em;
}

.marketing-slide img {
  width: 542px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #434343;
}

.marketing-slide p {
  font-size: 1.2rem;
  color: black;
  margin: 0.3em 0;
  line-height: 1.5;
}

.marketing-slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.marketing-slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

/* <markeing-branding> */

#main-branding {
  display: grid;
  grid-template-columns: 0.2fr 300px 2fr 0.2fr;
  grid-template-rows: 0.5fr 2fr;
  margin: 2em auto;
}

#main-branding h2 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
  margin-bottom: 1em;

  grid-column: 2/3;
  grid-row: 1/2;
}

.branding-slider {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  width: 100%;
  z-index: 3;
}

.branding-slider-inner {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;
}

.branding-slider-inner::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}
.branding-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 542px;
  margin-right: 2em;
}

.branding-slide img {
  width: 542px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #434343;
}

.branding-slide p {
  font-size: 1.2rem;
  color: black;
  margin: 0.3em 0;
  line-height: 1.5;
}

.branding-slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.branding-slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

/* <main-web> */

#main-web {
  display: grid;
  grid-template-columns: 0.2fr 300px 2fr 0.2fr;
  grid-template-rows: 0.5fr 2fr;
  margin: 2em auto;
}

#main-web h2 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
  margin-bottom: 1em;

  grid-column: 2/3;
  grid-row: 1/2;
}

.web-slider {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  width: 100%;
  z-index: 3;
}

.web-slider-inner {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;
}

.web-slider-inner::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

.web-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin-right: 5em;
}

.web-slide img {
  width: 250px;
  height: 350px;

  border: 1px solid #434343;
}

.windows-desktop,
.windows-vertical,
.login {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.windows-horizontal,
.mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.web-slide p {
  font-size: 1.2rem;
  color: black;
  margin: 0.3em 0;
  line-height: 1.5;
}

.web-slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.web-slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

/* <main-login> */

#main-login {
  width: 100%;
  height: 600px;
  background: #efe1ee;
  padding: 0;
}

#login-background {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: start;
  margin-left: 4em;
}

.web-start-page {
  width: 384px;
  height: 216px;
  object-fit: cover;
}

.login-title1 {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 1em 0;
}

.login-title2 {
  display: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  margin-top: 2em;

  font-size: 1rem;
  gap: 0.8em;
}

.login-page-btn {
  width: 384px;
  height: 40px;
  background: #ffbfcc;

  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(150, 57, 86, 0.5);

  margin-top: 1em;
}

/* <footer> */

footer {
  width: 100%;
  height: 300px;
  background: #434343;
  color: white;
  padding: 2em 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-menu {
  margin-top: 1em;
  margin-bottom: 4em;
}

.footer-menu-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-menu-a {
  text-decoration: none;
  color: white;
  margin: 0 1em;
}

.footer-menu-a:hover {
  color: #963956;
  text-decoration: underline;
  text-decoration-color: #963956;
  text-underline-offset: 0.2em;
}

.footer-infor-one {
  margin: 1em;
}

/* <footer>
      <div class="footer-content">
        <nav class="footer-menu">
          <ul class="footer-menu-ul">
            <li><a class="footer-menu-a" href="index.html">Introduction</a></li>
            <li>
              <a class="footer-menu-a" href="brand.html">Marketing plan</a>
            </li>
            <li><a class="footer-menu-a" href="products.html">Branding</a></li>
            <li><a class="footer-menu-a" href="contact.html">WEB</a></li>
            <li>
              <a class="footer-menu-a" href="sign.html">Login</a>
            </li>
          </ul>
        </nav>
        <div class="footer-infor-one">
          <p>Jeongmi Min(閔程美)</p>
          <p>2001.07.16</p>
        </div>
        <div class="footer-infor-two">
          <p>+82 10.9544.2254</p>
          <p>jeongmi.min716@gmail.com / jeongmi.min@naver.com</p>
        </div>
      </div>
    </footer> */

@media (min-width: 700px) {
  .open-btn,
  .close-btn {
    display: none;
  }

  .headerbar-menu {
    display: flex;
    z-index: 2;
  }
  .menu {
    position: initial;
    transform: translateX(0);
    background: #434343;
    height: 4em;
  }
  .headerbar-menu,
  .menu {
    display: flex;
    justify-content: end;
    flex-direction: row;
  }
  .menu-ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
  }
  .menu-a {
    color: rgb(255, 255, 255);
    display: flex;
  }
  #menubar-button:link,
  #menubar-button:visited {
    display: block;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 0.3em 0.625em;
    border: none;
    border-radius: 0.25em;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  #menubar-button:active {
    background-color: #81c147;
    color: black;
  }

  /* <article-main-profile> */

  #main-profile {
    display: grid;
    grid-template-columns: 0.2fr 300px 2fr 0.2fr;
    grid-template-rows: 0.5fr 2fr;
  }

  #main-profile h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    color: #434343;
  }

  #profile-img {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    justify-content: start;
    align-items: center;
  }

  #profile-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid #434343;
    box-shadow: 0 0 10px rgba(150, 57, 86, 0.5);
  }

  .profile-text {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
  }

  .profile-text h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin: 0.5em 0;
  }
  .profile-text p {
    font-size: 1.2rem;
    color: black;
    margin: 0.5em 0;
    line-height: 1.5;
  }

  /* <main-web> */

  #main-login {
    width: 100%;
    height: 500px;
  }
  .login-title1 {
    display: none;
  }
  .login-title2 {
    display: flex;
  }

  #login-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;

    gap: 10em;
  }

  .web-start-page {
    width: 576px;
    height: 324px;
    object-fit: cover;

    margin-top: 5em;
  }

  .login-text {
    gap: 1.5em;
  }

  /* <footer> */
  .footer-menu-a {
    margin: 0 1.3em;
  }
}
