* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;

  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  text-align: center;
  color: #000000;
  background: #fff;
}

/* <header> */
header {
  background: #fff;
}

/* <headerbar> */
.headerbar {
  background: #434343;
  display: grid;
  grid-template-columns: 0.2fr 2fr 3fr 0.2fr;
  grid-template-rows: 1fr;
  height: 4em;
}

.menu-logo,
.logo {
  font-weight: 800;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.headerbar-logo {
  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  justify-content: start;
  align-items: center;
}

.headerbar-menu {
  grid-column: 3/4;
  grid-row: 1/2;

  display: flex;
  justify-content: end;
  align-items: center;

  font-size: 1rem;
  text-align: start;
}

.menu {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgb(147, 116, 138, 0.6);
  color: white;
  backdrop-filter: blur(5px);

  z-index: 4;
}

.open-btn,
.close-btn {
  cursor: pointer;
  font-size: 2rem;
  color: white;
}
.close-btn {
  margin: 0.5em;
  font-size: 2.5rem;
}

.menu-ul {
  margin: 1em;
  font-size: 1.4rem;
}

.menu-ul li {
  margin: 2em;
}
.menu-a {
  text-decoration: none;
  color: white;
}

.menu-a:hover {
  color: #fddee3;
}

.move {
  transform: translateX(20%);
  transition: 250ms ease;
}

/* <header-main> */

.header-slider {
  position: relative;
  width: 100%;
  height: 40em;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 0;
  overflow: hidden;
}

.slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

.slider-btn:hover {
  background: rgb(150, 57, 86, 0.5);
}

#slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  box-shadow: none;
  display: block;
  margin: 0;
  transition: opacity 0.5s;
  opacity: 1;
}

#slider-image.fade-out {
  opacity: 0;
}

#slider-image.fade-in {
  opacity: 1;
}

/* <article-main-profile> */
article {
  margin: 0 auto;
  padding: 2em;
}

#main-profile {
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.5fr 2fr 1.5fr;
  margin: 2em auto;
}

#main-profile h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
}

.menu-link {
  text-decoration: none;
  color: black;
}
.menu-link:hover {
  color: #963956;
  text-decoration: underline;
  text-decoration-color: #963956;
  text-underline-offset: 0.2em;
}

#profile-img {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 augo;
}

#profile-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #434343;
  box-shadow: 0 0 10px rgba(150, 57, 86, 0.5);
}

.profile-text {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-text h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin: 0.5em 0;
}
.profile-text p {
  font-size: 1rem;
  color: black;
  margin: 0.5em 0;
  line-height: 1.5;
}

/* <article-marketing plan> */

#main-marketing {
  display: grid;
  grid-template-columns: 0.2fr 300px 2fr 0.2fr;
  grid-template-rows: 0.5fr 2fr;
  margin: 2em auto;
}

#main-marketing h2 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
  margin-bottom: 1em;

  grid-column: 2/3;
  grid-row: 1/2;
}

.marketing-slider {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  width: 100%;
  z-index: 3;
}

.marketing-slider-inner {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;
}

/* 스크롤바 숨기기 */
/* .marketing-slider-inner::-webkit-scrollbar {
  display: none; 
} */

.marketing-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 542px;
  margin-right: 2em;
}

.marketing-slide img {
  width: 542px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #434343;
}

.marketing-slide p {
  font-size: 1.2rem;
  color: black;
  margin: 0.3em 0;
  line-height: 1.5;
}

.marketing-slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.marketing-slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

.marketing-slider-btn:hover {
  background: rgb(150, 57, 86, 0.5);
}

/* <markeing-branding> */

#main-branding {
  display: grid;
  grid-template-columns: 0.2fr 300px 2fr 0.2fr;
  grid-template-rows: 0.5fr 2fr;
  margin: 2em auto;
}

#main-branding h2 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
  margin-bottom: 1em;

  grid-column: 2/3;
  grid-row: 1/2;
}

.branding-slider {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  width: 100%;
  z-index: 3;
}

.branding-slider-inner {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;
}

/* 스크롤바 숨기기 */
/* .branding-slider-inner::-webkit-scrollbar {
  display: none; 
} */

.branding-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 542px;
  margin-right: 2em;
}

.branding-slide img {
  width: 542px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #434343;
}

.branding-slide p {
  font-size: 1.2rem;
  color: black;
  margin: 0.3em 0;
  line-height: 1.5;
}

.branding-slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.branding-slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

.branding-slider-btn:hover {
  background: rgb(150, 57, 86, 0.5);
}

/* <main-web> */

#main-web {
  display: grid;
  grid-template-columns: 0.2fr 300px 2fr 0.2fr;
  grid-template-rows: 0.5fr 2fr;
  margin: 2em auto;
}

#main-web h2 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #434343;
  margin-bottom: 1em;

  grid-column: 2/3;
  grid-row: 1/2;
}

.web-slider {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  width: 100%;
  z-index: 3;
}

.web-slider-inner {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;
}

/* 스크롤바 숨기기 */
/* .web-slider-inner::-webkit-scrollbar {
  display: none; 
} */

.web-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin-right: 5em;

  scroll-snap-align: start;
  flex: 0 0 auto;
}

.web-slide img {
  width: 250px;
  height: 350px;

  border: 1px solid #434343;
}

.windows-desktop,
.windows-vertical,
.login {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.windows-horizontal,
.mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.web-slide p {
  font-size: 1.2rem;
  color: black;
  margin: 0.3em 0;
  line-height: 1.5;
}

.web-slider-btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2em;
  box-sizing: border-box;
  pointer-events: none;
}

.web-slider-btn {
  background: rgb(66, 66, 66, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  pointer-events: auto;
  z-index: 10;
}

.web-slider-btn:hover {
  background: rgb(150, 57, 86, 0.5);
}

/* <main-login> */

#main-login {
  width: 100%;
  height: 630px;
  background: #efe1ee;
  padding: 0;
}

#login-background {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 2.5em;
}

.web-start-page {
  width: 384px;
  height: 216px;
  object-fit: cover;
}

.login-title1 {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 1em 0;
}

.login-title2 {
  display: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  margin-top: 2em;

  font-size: 1rem;
  gap: 0.8em;
}

#login-page-btn {
  width: 384px;
  height: 40px;
  background: #ffbfcc;

  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(150, 57, 86, 0.5);

  margin-top: 1em;
}

/* <footer> */

footer {
  width: 100%;
  height: 300px;
  background: #434343;
  color: white;
  padding: 2em 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-menu {
  margin-top: 1em;
  margin-bottom: 4em;
}

.footer-menu-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-menu-a {
  text-decoration: none;
  color: white;
  margin: 0 1em;
}

.footer-menu-a:hover {
  color: #963956;
  text-decoration: underline;
  text-decoration-color: #963956;
  text-underline-offset: 0.2em;
}

.footer-infor-one {
  margin: 1em;
}

/* <desktop-main> */
#main {
  display: none;
}

@media (min-width: 720px) {
  .open-btn,
  .close-btn {
    display: none;
  }

  .headerbar-menu {
    display: flex;
    z-index: 2;
  }
  .menu {
    position: initial;
    transform: translateX(0);
    background: #434343;
    height: 4em;
  }
  .headerbar-menu,
  .menu {
    display: flex;
    justify-content: end;
    flex-direction: row;
  }
  .menu-ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
  }
  .menu-a {
    color: rgb(255, 255, 255);
    display: flex;
  }
  #menubar-button:link,
  #menubar-button:visited {
    display: block;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 0.3em 0.625em;
    border: none;
    border-radius: 0.25em;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  #menubar-button:link,
  #menubar-button:visited {
    display: block;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 0.3em 0.625em;
    border: none;
    border-radius: 0.25em;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  #menubar-button:hover,
  #menubar-button:active {
    color: #fff;
    background: #ffbfcc;
  }

  /* <article-main-profile> */

  #main-profile {
    display: grid;
    grid-template-columns: 0.2fr 300px 2fr 0.2fr;
    grid-template-rows: 0.5fr 2fr;
  }

  #main-profile h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    color: #434343;
  }

  #profile-img {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    justify-content: start;
    align-items: center;
  }

  #profile-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid #434343;
    box-shadow: 0 0 10px rgba(150, 57, 86, 0.5);
  }

  .profile-text {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
  }

  .profile-text h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin: 0.5em 0;
  }
  .profile-text p {
    font-size: 1.2rem;
    color: black;
    margin: 0.5em 0;
    line-height: 1.5;
  }

  /* <main-web> */

  #main-login {
    width: 100%;
    height: 500px;
  }
  .login-title1 {
    display: none;
  }
  .login-title2 {
    display: flex;
  }

  #login-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin: 0;

    gap: 3em;
  }

  .web-start-page {
    width: 576px;
    height: 324px;
    object-fit: cover;

    margin-top: 5em;
  }

  .login-text {
    gap: 1.5em;
  }

  /* <footer> */
  .footer-menu-a {
    margin: 0 1.3em;
  }
}

@media (min-width: 1300px) {
  #mobile {
    display: none;
  }

  #main {
    display: flex;
    z-index: 1000;
  }

  body {
    margin: 0;
    background: white;
    color: gray;
    height: 100vh;
    width: 100vw;
  }

  /* <header> */

  #desktop-headerbar {
    width: 100%;
    height: 8%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: grid;
    grid-template-columns: 0.2fr 2fr 5fr 0.2fr;
    grid-template-rows: 1fr;
  }

  #desktop-headerbar-logo {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;

    grid-column: 2/3;

    display: flex;
    justify-content: start;
    align-items: center;
  }

  .desktop-headerbar-menu {
    grid-column: 3/4;
    grid-row: 1/2;

    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 1rem;
    text-align: start;
  }

  .desktop-menu {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    backdrop-filter: blur(10px);

    z-index: 100;
  }

  .desktop-open-btn,
  .desktop-close-btn {
    cursor: pointer;
    font-size: 2rem;
  }
  .desktop-close-btn {
    margin: 0.5em;
    font-size: 2.5rem;
  }

  .desktop-open-btn:hover,
  .desktop-close-btn:hover {
    color: #ffbfcc;
  }

  .desktop-menu-ul {
    margin: 2em;
    font-size: 1.4rem;
  }
  .desktop-menu-ul li {
    margin: 0.5em;
  }
  .desktop-menu-a {
    text-decoration: none;
    color: white;
  }

  .desktop-menu-a:hover {
    color: #ffbfcc;
  }

  .move {
    transform: translateX(20%);
    transition: 250ms ease;
  }

  .button-content {
    position: fixed;
    top: 40%;
    left: 50px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .circle-button {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
  }

  .circle-button:hover {
    background: #ffc0cb;
  }

  /* <main> */

  #main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  /* <slide> */
  .slides {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 400vh;

    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    overflow-y: auto;
  }

  .slide {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
  }

  #main-content-one {
    background: url("../public/images/portfolio-page1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #main-content-two {
    background: url("../public/images/portfolio-page4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #main-content-three {
    background: url("../public/images/portfolio-page6\(minjeongmi\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #main-content-four {
    width: 100%;
    height: 100vh;
    background: #ffe0e5;
    color: black;
  }

  #desktop-login-background {
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;

    gap: 5em;
  }

  .desktop-web-start-page {
    width: 576px;
    height: 324px;
    object-fit: cover;

    margin-top: 5em;
  }

  .desktop-login-title2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
  }

  .desktop-login-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    margin-top: 2em;

    font-size: 1rem;
    gap: 1em;
  }

  #desktop-login-page-btn {
    width: 384px;
    height: 40px;
    background: #ffbfcc;

    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(150, 57, 86, 0.5);

    margin-top: 1em;
  }
  /* <desktop-footer> */

  #desktop-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #434343;
    height: 30%;
    width: 100%;
    z-index: 200;

    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .footer-desktop-menu {
    margin-top: 1em;
    margin-bottom: 4em;
  }

  .footer-desktop-menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .footer-desktop-menu-a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
  }

  .footer-desktop-menu-a:hover {
    color: #963956;
    text-decoration: underline;
    text-decoration-color: #963956;
    text-underline-offset: 0.2em;
  }

  .footer-infor-one {
    margin: 1em;
  }

  @media (min-width: 1650px) {
    .desktop-open-btn,
    .desktop-close-btn {
      display: none;
    }

    .desktop-headerbar-desktop-menu {
      display: flex;
      z-index: 100;
    }

    .desktop-menu {
      position: initial;
      transform: translateX(0);
      background: rgba(0, 0, 0, 0);
      height: 4em;
    }

    .desktop-headerbar-desktop-menu,
    .desktop-menu {
      display: flex;
      justify-content: end;
      flex-direction: row;
    }

    .desktop-menu-ul {
      display: flex;
      justify-content: end;
      align-items: center;
      list-style: none;
      margin: 0;
      font-size: 1.3rem;
    }

    .desktop-menu-a {
      color: rgb(255, 255, 255);
      display: flex;
      margin-left: 1em;
    }

    .desktop-menu-a:hover {
      color: #ffbfcc;
    }

    #desktop-menubar-button:link,
    #desktop-menubar-button:visited {
      display: block;
      margin: 0 auto;
      font-size: 1.125rem;
      font-weight: 500;
      text-decoration: none;
      text-align: center;
      padding: 0.3em 0.625em;
      border: none;
      border-radius: 0.25em;

      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }

    #desktop-menubar-button:hover,
    #desktop-menubar-button:active {
      color: #fff;
      background: #ffbfcc;
    }
  }
}
